*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* background-color: rgba(255, 255, 255, 0.87); */
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(179, 179, 225);
    font-family: Arial, Helvetica, sans-serif;
}